/*
* Project WP Developer Directory
*/

/*-----------------------------------------------------
PhotoGrapher Template CSS by Bashar
-------------------------------------------------------*/
.photographer-search-bar-area{background-color:#f1f1f1;}
.photographer-search-bar{margin-top: 70px;
    padding-top: 35px;    
    padding-bottom: 35px;    
    border-bottom: 1px solid #acb7c8;}
.photographer-search-bar-text{}
.photographer-search-bar-text h2{font-size: 14px;
    text-transform: uppercase;margin-top: 15px;
color: #333 !important;
}
.photographer-search-form{}
.photographer-search-form form {}
.photographer-search-form form input[type="text"] {width: 45%;color: #333;}
.photographer-search-form form input[type="submit"] {}

.photographer-list-contents-area{}
.photographer-list-content{}
.photographer-content-heading{margin-top: 50px;
    margin-bottom: 50px;}
.photographer-content-heading h2{font-weight: 600;color: #333 !important;}
.photographer-member-area{margin-left: 150px;margin-right: 150px;}
.single-photographer-list{box-shadow: 0 2px 25px 0 rgba(0,0,0,.15);margin: 0 0 50px 0;}
.photographer-cover-image{position: relative;}
.photographer-cover-image img{max-width: 100%;    width: 100%;}
.single-photographer-name-rating{margin-top: 40px;}
.single-phogotrapher-name{margin-left: 20px;margin-bottom: 5px;margin-right: 15px;text-align: center;margin-top: 50px;}
.single-phogotrapher-name a h2{color:#BB93AF;font-weight:700;font-family: Halant;}
.single-phogotrapher-name p{}
.single-hotographer-rating{display: inline-block;position: absolute;bottom: 10px;right: 10px;background-color: #bb93af;padding: 5px 10px;border-radius: 3px;}
.single-hotographer-rating i{color: #fff;}
.single-photographer-picture{position: absolute;right: 0;bottom: -33px;left: 0;margin: 0 auto;text-align: center;}
.single-photographer-picture img{max-width: 100%;width: 100px;height: 100px;border-radius: 100px;border: 2px solid #BB93AF;padding: 1px;}
.single-photographer-portfolio-link{margin-right: 10px;padding-bottom: 30px;margin-top: 10px;margin-left: 10px;}
.single-photographer-portfolio-link a{color: #65a184 !important;font-family: Halant !important;font-size: 20px;font-weight: 600;}
.single-photographer-portfolio-link i{font-size: 13px;}
.photographer-location{width: 30%;float: left;position: absolute;bottom: 10px;left: 10px;}
.photographer-location p{background-color: #bb93af;color: #fff !important;padding: 5px 10px;border-radius: 5px;font-weight: 500;font-size: 18px;display: inline-block;}
/*-----------------------------------------------
Photographer Portfilo CSS by Bashar
------------------------------------------------*/
.photographer-portfolio-area{margin-top: 70px;}
.photographer-portfolio{}
.photographer-portfolio-header{margin-top: 70px;margin-bottom: 100px;}
.photographer-profile-picture{}
.photographer-profile-picture img{max-width: 100%;border-radius: 100px;width: 160px;height: 160px;}
.photographer-profile-favorate{text-align: center;margin-top: 10px;}
.photographer-profile-favorate a{color: #333 !important;}
.photographer-profile-information{}
.photographer-profile-info{}
.photographer-profile-name{margin-right: 20px;}
.photographer-profile-name h2{color: #333 !important;font-weight: 600;}
.photographer-profile-name p{color: #666 !important;font-size: 17px;font-weight: 400;}
.photographer-profile-rating{margin-top: -4px;margin-right: 20px;}
.photographer-profile-rating i{color: gold;}
.photographer-profile-review-link{}
.photographer-profile-review-link a{color: #666 !important;font-weight: 600;}
.photographer-profile-description{}
.photographer-profile-description p{color: #666 !important;}
.photographer-profile-content-area{}
.photographer-profile-content{}
.photographer-profile-feedback{    margin-top: 30px;}
.photographer-profile-feedback-heading{}
.photographer-profile-feedback-heading  h2{}
.single-feedback-for-photographer{margin-bottom: 50px;}
.photographer-client-feedback{}
.photographer-client-feedback p{text-align: justify;color: #666 !important;}
.photographer-feedback-client-name{margin-top: 10px;}
.photographer-feedback-client-name  h2{color:  #4a4a4a !important;font-weight: 600;font-size: 20px;text-align: center;font-family: 'Halant', sans-serif !important;}
.photographer-profile-feedback-content{position: relative;width: 50%;margin: 0 auto;}
.photographer-profile-feedback-content div.owl-nav{position: absolute;top: 60px;left: 0;right: 0;margin: 0 auto;text-align: center;}
.photographer-profile-feedback-content div.owl-nav button{}
.photographer-profile-feedback-content div.owl-nav button i {font-size:25px}
.photographer-profile-feedback-content div.owl-nav button.owl-next {float: right;margin-right: -50px;}
.photographer-profile-feedback-content div.owl-nav button.owl-prev {float: left;margin-left: -50px;}
.invlide-email-text{    color: red !important;
    text-align: center;
    font-weight: 700;margin-top:10px;margin-bottom:30px;
}

h3.location-search-result{margin-top:30px;margin-bottom:10px;}